.create-subtitle {
  font-size: 38px;
  font-weight: 600;
  color: #fff;
  text-align: left;
  margin-top: 120px;
  margin-bottom: 20px;
}

.create-label {
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  text-align: left;
  margin-bottom: 10px;
}

.create-input {
  width: 100%;
  padding: 8px;
  color: #9e16f8;
  background-color: rgb(255, 255, 255, 0.4);
  border: none;
  outline: none;
  margin-bottom: 20px;
  margin-top: 8px;
  border-radius: 5px;
}

.create-input:focus {
  border: 1px solid #9e16f8;
}

.create-button {
  width: 100%;
  padding: 8px;
  color: #9e16f8;
  background-color: rgb(255, 255, 255);
  border: none;
  outline: none;
  margin-bottom: 20px;
  margin-top: 8px;
  border-radius: 5px;
}

.create-button:hover {
  color: orange;
}
