* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: rgb(207, 144, 250);
  background: linear-gradient(
    90deg,
    rgba(207, 144, 250, 1) 10%,
    rgba(246, 137, 174, 1) 34%,
    rgba(249, 132, 82, 1) 60%,
    rgba(246, 183, 99, 1) 87%,
    rgba(252, 176, 69, 1) 100%
  );
}

.navbar-container .logo {
  position: absolute;
  top: 5px;
  left: 5px;
  color: white;
  font-size: 3rem;
  font-weight: 600;
  text-shadow: 5px;
}

.form2 {
  width: 400px;
  padding: 40px;
  background-color: rgb(255, 255, 255, 0.65);
  border-radius: 5px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
}

.login-name {
  text-align: center;
  margin: 10px;
  color: #fff;
  background: transparent;
}

.login-name h1 {
  font-size: 1rem;
  font-weight: 600;
}

.mail1 {
  width: 100%;
  padding: 5px;
  color: #9e16f8;
  background-color: transparent;
  border: none;
  outline: none;
  margin-bottom: 40px;
}

.mail2 {
  width: 100%;
  padding: 5px;
  color: #9e16f8;
  background-color: transparent;
  border: none;
  outline: none;
  margin-bottom: 40px;
}

.pass1 {
  width: 100%;
  padding: 5px;
  color: #9e16f8;
  background-color: transparent;
  border: none;
  outline: none;
  margin-bottom: 40px;
}

.pass2 {
  width: 100%;
  padding: 5px;
  color: #9e16f8;
  background-color: transparent;
  border: none;
  outline: none;
  margin-bottom: 40px;
}

.confirm-pass {
  width: 100%;
  padding: 5px;
  color: #9e16f8;
  background-color: transparent;
  border: none;
  outline: none;
  margin-bottom: 40px;
}

.alternate-path {
  text-align: center;
  margin-bottom: 10px;
  margin-top: 20px;
  color: #fff;
  background: transparent;
}

.login-button {
  width: 100%;
  padding: 10px;
  color: #9e16f8;
  background-color: #fff;
  border: none;
  outline: none;
  margin-bottom: 5px;
  cursor: pointer;
  border-color: #9e16f8;
  transition: 0.5s;
}

.submit-button {
  width: 100%;
  padding: 10px;
  color: #9e16f8;
  background-color: #fff;
  border: none;
  outline: none;
  margin-bottom: 5px;
  cursor: pointer;
  border-color: #9e16f8;
  transition: 0.5s;
}
